table, tr ,td, th{
    border: 1px dotted red;
    border-collapse: collapse;
}

td:last-child, td:nth-last-child(3){
    background-color: lightblue;
}

#gyakorlas{
    background-color: greenyellow;
}

button:has(+p){
    background-color: green;
}

button:not(:has(+p)){
    background-color: yellow;
}

#gyakorlas:has(+a:hover)>button{
    color: red;
}

tr td.marked{
    color: red;
}

/*
tr:hover>td,
tr:has(>td[rowspan]):hover+tr>td,
tr:has(>td[rowspan]):has(+tr:hover)>td
{
    background-color: aqua;
}
*/

tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td,
tr:has(td[rowspan]):hover td,
tr:has(td[rowspan]):hover + tr td,
tr:has(td[rowspan]):has(+tr:hover) td,
tr:has(td[rowspan])+tr:hover td
{
    background-color: aqua;
}